html,
body,
#root {
  height: 100%;
  margin: 0;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.app-root {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  background: radial-gradient(
    circle at top,
    #1e293b 0%,
    #020617 60%
  );
}
